    {{define "index"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title> API </title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <header class="header-container">
        <div class="header-left">
            <a href="/"><img class="logo-site" src="../static/img/pokeapi.png" alt="Logo"></a>
        </div>
        <div class="header-middle">
            <img class="pikapika" src="../static/img/logo.png" alt="Pikachu">
        </div>
        <div class="header-right">
            <div class="search">
                <form action="/search" method="get" class="search-form">
                    <input type="text" class="searchTerm" name="query" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <img class="pokesearch" src="../static/img/pokesearch.png">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <body>
        <div class="father-container">
            <form class="generate" action="/" method="get">
                <div class="all-container">
                        <button class="genrate-style" type="submit">
                            <img class="fleche" src="../static/img/fleche.png" alt="fleche" />
                            Générer 20 nouveaux Pokémon
                        </button>
                    </form>
                    <a href="/filtrer" class="button-like">Filtrer</a>
                    <section id="pokemon-container">
                        {{ range . }}
                        <div>
                            <a href="/pokemon/{{.Name}}" class="pokemon-card-link">
                                <div class="pokemon-card">
                                    <div class="pokemon-image">
                                        <img src="{{.Image}}" alt="image de {{.Name}}" class="image-pokemon">
                                    </div>
                                    <div class="pokemon-name">{{.Name}}</div>
                                    <div class="pokemon-type">
                                        {{range .Type}}
                                        <a class="con" href="https://pokemon.fandom.com/wiki/{{.}}_type"> <img class="type"src="../static/img/{{.}}.png"  class="image-pokemon" alt="{{.}} type"></a>
                                        {{end}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{ end }}
                    </section>
                </div>
        </div>
        
    <footer  class="footer-container">
        

    </footer>

</html>
{{end}}