@font-face {
    font-family: 'MaFont';
    src: url('/static/font/pokemonsolid.ttf');
}

body {
    background-color:#FFCB09;
    margin-left:-10px;
    height:100%;
    margin-right:-1px;
    
}
html {
    font-family: 'MaFont', sans-serif;
    background-color: blueviolet;
    height:100%;

}

header {
    background-color:#3466AF;
    height:150px;
    margin-top:-10px;
    margin-right:-0px;
    margin-left:-10px;
    
    
}



/* ... autres styles ... */

#pokemon-container {
    background-color:black;
    width:9105px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Crée une grille avec 5 colonnes */
    grid-auto-rows: minmax(100px, auto); /* Définit la hauteur minimale de la ligne, mais permet d'être plus grand si nécessaire */
    gap: 1em; /* Espace entre les cartes */
    padding: 1em; /* Espace autour de la grille */
    max-width: 1000px; /* Max width of the container */
    margin: 0 auto; /* Centre le conteneur */
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 1em;
    background-color: #ffffff;
    /* Ajoutez d'autres styles selon vos besoins */
}

.pokemon-image {
    width: 100%; /* Adaptez la largeur de l'image à celle du conteneur */
    max-width: 150px; /* Définit une largeur maximale pour l'image */
    margin-bottom: 1em; /* Espace entre l'image et le nom du Pokémon */
}

.pokemon-name {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.pokemon-type {
    margin-bottom: 0.5em; /* Espace entre les types et le bas de la carte */
}

.genrate-style {
    text-align:center;
    border:black;
    border-radius:5px;
    height:70px;
    width:350px;
    font-family:MaFont;
    font-size:20px;
    
    
}

.genrate-style:hover {
  background-color:#dddddd;
}

.generate {
    align-items:center;
    flex-direction:column;
    margin-top:20px;
    border-radius:20px;
    border:black;
}

.type-link {
    display: inline-block; /* Espace entre les types */
    padding: 0.25em 0.5em;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-decoration: none; /* Supprime les soulignements des liens */
    color: black; /* Couleur du texte pour les types */
}

.image-pokemon2 {
    width:120px;
    
}

.fleche {
    width:10px;
    
}

/* ... autres styles ... */
